@import '../../scss/variables';
@import 'bulma/sass/utilities/functions';

$padding: nth(nth($small, 2), 2);

@keyframes loading {
    0% {
        background: #d5d9db;
        color: #d5d9db;
        accent-color: #d5d9db;
    } 50% {
        background: #b9c0c4;
        color: #b9c0c4;
        accent-color: #b9c0c4;
    } 100% {
        background: #d5d9db;
        color: #d5d9db;
        accent-color: #d5d9db;
    }
}

.list-item {
    padding: spacing(1) spacing(2);
    border: 1px solid rgba($color: #000, $alpha: 0.1);
    border-left: 3px solid;

    &.loading {
        border: none;
    }

    &.archived input[type=text] {
        text-decoration: line-through;
    }
    &.inbox {
        border-left-color: blue;
    }
    &.archived {
        border-left-color: greenyellow;
    }
    &.pinned {
        border-left-color: red;
        .pin .icon {
            color: $primary
        }
    }
    .description {
        transition: max-height .3s, padding .3s;
        max-height: 0;
        padding: 0 spacing(8);
        margin: 0;
        overflow: hidden;
        .edit {
            display: none;
            position: absolute;
            right: 20px;
        }
        &.show {
            padding: spacing(4);
            padding-left: spacing(8);
            max-height: 500px;
            .edit {
                display: flex;
                justify-content: end;
                background-color: transparent;
            }
            textarea {
                flex: 1;
            }
        }
    }
}