@import 'bulma/sass/utilities/functions';

$primary: #6666ff !default;
$primary-light: #9999ff !default;
$primary-lighter: #ccccff !default;
$secondary: #fe9f67 !default;
$secondary-light: #febb92 !default;
$secondary-lighter: #fed6bd !default;
$tertiary: #b283ac !default;
$tertiary-light: #c8a7c4 !default;
$tertiary-lighter: #decadb !default;
$error: #ff3232 !default;
$warning: #ffb732 !default;
$success: #329932 !default;
$info: #3232ff !default;

$yellow: #ffff4c !default;

$colors-list: (
  primary: $primary,
  primary-light: $primary-light,
  primary-lighter: $primary-lighter,
  secondary: $secondary,
  secondary-light: $secondary-light,
  secondary-lighter: $secondary-lighter,
  tertiary: $tertiary,
  tertiary-light: $tertiary-light,
  tertiary-lighter: $tertiary-lighter,
  error: $error,
  warning: $warning,
  success: $success,
  info: $info,
) !default;

* {
  background-color: inherit;
  color: inherit;
}