@import './spacing';
@import './typography';

$size-list: (
    small: (
        font-size: fontSize(2),
        padding: spacing(3) spacing(4),
    ),
    medium: (
        font-size: fontSize(3),
        padding: spacing(3) spacing(5),
    ),
    large: (
        font-size: fontSize(4),
        padding: spacing(3) spacing(6),
    ),
) !default;

@function getSize($size) {
    @return map-get($size-list, $size);
}

// .is {
//     @each $size-key,
//     $size-value in $size-list {
//         $font-size: nth(nth($size-value, 1), 2);
//         $padding: nth(nth($size-value, 2), 2);

//         &-#{$size-key} {
//             font-size: $font-size;
//             padding: $padding;
//         }
//     }
// }


$small: getSize('small') !default;
$medium: getSize('medium') !default;
$large: getSize('large') !default;