$spacing-list: (
    0: auto,
    1: 4px,
    2: 8px,
    3: 12px,
    4: 16px,
    5: 20px,
    6: 24px,
    7: 28px,
    8: 32px,
    9: 40px,
) !default;

@function spacing($size) {
    @return map-get($spacing-list, $size);
};

.p {
    @each $var in $spacing-list {
        $id: nth($var, 1);
        $val: nth($var, 2);
        &-#{$id} {
            padding: $val;
        }
        &t-#{$id} { padding-top: $val; }
        &r-#{$id} { padding-right: $val; }
        &b-#{$id} { padding-bottom: $val; }
        &l-#{$id} { padding-left: $val; }
        &x-#{$id} {
            padding-left: $val;
            padding-right: $val;
        }
        &y-#{$id} {
            padding-top: $val;
            padding-bottom: $val;
        }
    }
}
.m {
    @each $var in $spacing-list {
        $id: nth($var, 1);
        $val: nth($var, 2);
        &-#{$id} {
            margin: $val;
        }
        &t-#{$id} { margin-top: $val; }
        &r-#{$id} { margin-right: $val; }
        &b-#{$id} { margin-bottom: $val; }
        &l-#{$id} { margin-left: $val; }
        &x-#{$id} {
            margin-left: $val;
            margin-right: $val;
        }
        &y-#{$id} {
            margin-top: $val;
            margin-bottom: $val;
        }
    }
}