@import '../../scss/variables';
@import 'bulma/sass/utilities/functions';

$direction-list: $flex-direction-list;
$justify-list: $flex-justify-list;
$wrap-list: $flex-wrap-list;

.flex {
    display: flex;
    &>.is-full {
        margin: 5px 0;
    }
    @each $dir, $val in $direction-list {
        &.#{$dir} {
            flex-direction: $val;
        }
    }
    @each $justify, $val in $justify-list {
        &.#{$justify} {
            justify-content: $val;
        }
    }
    @each $wrap, $val in $wrap-list {
        &.#{$wrap} {
            flex-wrap: $val;
        }
    }
}