@import '../../scss/variables';
@import 'bulma/sass/utilities/functions';

$avatar-sizes: $size-list  !default;

.avatar {
    border-radius: 50%;
    border: 1px solid black;
    @each $var in $width-list {
        $prop: nth($var, 1);
        $value: nth($var, 2);
        &.is-#{$prop} {
            width: $value;
            height: $value;
            padding: $value/2;
        }
    }
}